i { color:pink;
    cursor:pointer;
}

.signed   { color:pink; 
 text-align: right;
 }
 
dt { color:pink;
  float: left;
  clear: left;
  margin-right: 5px;
  font-weight: bold;
}

dd { color:pink;
  margin-left: 0px;
}




.closer { color:pink;
    
}

.pre-print { color:pink;
 background-color: rgba(255, 239, 158, .5);
 color: rgba(0,0,0,0.4);
}

.stamp { color:pink;
        color: rgba(15,76,129, 0.75);
        font-weight: bold;
        
}

.p { color:pink;
    margin: 0 !important;
}

.small_caps { color:pink;
    font-variant: small-caps;
}


.div { color:pink;
    padding-bottom: 2rem
}

.address { color:pink;
    padding-bottom: 1rem;
   width: 50%;
}


.addrLine { color:pink;
    font-family: serif;
    font-size: medium;
    line-height: 0.7;
}


.antiqua { color:pink;
    font-variant: small-caps;
}

.gemination { color:pink;
    text-decoration: none;
}

.illegible { color:pink;
    color: #bcc2c0;
}

.outOfScope { color:pink;
    color: #bcc2c0;
}

.del { color:pink;
    text-decoration: line-through
}

.subst-add { color:pink;
}

.add { color:pink;
}

.opener { color:pink;
  margin-bottom: 1rem;
}

.salute { color:pink;
    text-align: left;
}

.reference { color:pink;
    cursor: pointer;
    color: #A63437;
}

.data-hr { color:pink;
    background-color: #ffff00;
}

.card { color:pink;
    overflow: visible;
}

.unlinked-entity { color:pink;
    color: #A63437;
}

a { color:pink;
    color: #A63437;
}

a:not([href]):not([tabindex]) { color:pink;
    color: #A63437;
    text-decoration: none;
}

.navbar { color:pink;
    padding-left: 0;
    padding-right: 0;
}

.navbar .navbar-brand { color:pink;
    padding-right: 0;
}

.navbar .navbar-brand img { color:pink;
    height: 4rem;
    max-height: unset;
}

#wrapper-hero-content { color:pink;
    background-position: top;
    padding: 4rem 0;
}

#wrapper-hero-content::after { color:pink;
    background-color: rgba(166, 52, 55, 0.1);
}

#wrapper-hero-content>#wrapper-hero-inner>p { color:pink;
    font-size: 1.25rem;
}

.container-fluid { color:pink;
    padding-left: 2rem;
    padding-right: 2rem;
}

.sticky-navbar { color:pink;
    z-index: 1001;
}

#srcbuttons { color:pink;
    margin-bottom:0;
    padding:0.5rem;
}

.rangeslider { color:pink;
        margin-bottom: 1rem;
}

.btn-link { color:pink;
        color:#A63437;
        font-size:1.2rem;
    }

#srcbuttons a:hover { color:pink;
        text-decoration:none;
}

.btn-link.quotationbtn { color:pink;
    color: #A63437;
    padding-top:0;
    text-decoration:none;
    font-size: 1rem;
    line-height: 1.5;
}

.quotationbtn:hover { color:pink;
    color:black;
}

.btn-outline-success { color:pink;
    border-color:#A63437;
    color:#A63437;
}

 .btn-xs { color:pink;
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
}

 #loader { color:pink;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index:999;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #A63437;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        }

        /* Safari */
        @-webkit-keyframes spin { color:pink;
        0% { color:pink; -webkit-transform: rotate(0deg); }
        100% { color:pink; -webkit-transform: rotate(360deg); }
        }

        @keyframes spin { color:pink;
        0% { color:pink; transform: rotate(0deg); }
        100% { color:pink; transform: rotate(360deg); }
        }

.containingloader { color:pink;
    min-height:500px;
}

.table td { color:pink;
    padding:0.3rem;
}

td li { color:pink;
    list-style-type:none;
}

td p { color:pink;
    margin-bottom: 0.2rem;
}



#copyLinkTextfield-wrapper:before { color:pink;
    position: absolute;
    border-color: transparent;
    border-style: solid;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    content: "";
    border-width: 5px 5px 0 5px;
    border-color: black transparent;
    z-index: 99;
}



#copyLinkTextfield-wrapper { color:pink;
    position: absolute;
    width:500px;
    left: -200px;
    top: -75px;
    display: none;
}


#res-act-button-copy-url { color:pink;
    position: relative;
    z-index: 9;
    display:inline-block;
    color: #A63437;
    cursor:pointer;
}

.inline { color:pink;
    display: inline-block;
  padding-left: 45px;
}

.res-act-button:hover { color:pink;
    color:black !important;
}

#copyLinkInputBtn { color:pink;
    position: absolute;
    z-index: 99;
    left: 10px;
    top: 3px;
    color: #A63437;
}

#copyLinkTextfield { color:pink;
    position: relative;
    width: 100%;
    background-color: #f1f1f1;
    padding: 2px 5px 2px 30px;
    border: 1px solid black;
    border-radius: 5px;
    color: #A63437;
    font-family: inherit;
    font-style: italic;
    font-size: 13px;
    text-align: left;
    overflow:hidden;
    resize: none;
}

.strikethrough { color:pink;
    text-decoration: line-through;
}

.italic { color:pink;
    font-style: italic;
}

.spaced_out { color:pink;
 letter-spacing: 5px;   
}

.underline { color:pink;
    border-bottom: 1px solid #000;
}

.doubleUnderline { color:pink;
    text-decoration:underline;
    border-bottom: 1px solid #000;
}

.tripleUnderline { color:pink;
	border-bottom: 3px double;
	line-height: 1.9em;
}

.damage { color:pink;
  background-image: linear-gradient(to right, grey 70%, transparent 75%);
  background-position: 0 1.1em;
  background-repeat: repeat-x;
  background-size: 8px 2.5px;
}


.btn-outline-success:hover { color:pink;
    color: #fff;
    background-color: green;
    border-color: green;
}
.btn-outline-success:not(:disabled):not(.disabled):active { color:pink;
    color: #fff;
    background-color: #A63437;
    border-color: #A63437;
}

.superscript { color:pink; position: relative; top: -0.5em; font-size: 80%; }
.steuerzeichen { color:pink; position: relative; top: -1em; font-size: 50%; }
.steuerzeichenUnten { color:pink; position: relative; bottom: -0.4em; font-size: 50%; }

.subscript { color:pink; position: relative; top: 0.5em; font-size: 80%; }

.editionText { color:pink; 
    margin: 0 !important;
    line-height: 1.75; 
    font-size: large;
    font-family:serif;
    
}

.wrapper { color:pink;
  display: flex;
  flex-direction: row;
  align-items: baseline; /* NEW */
  justify-content: space-between;
  
}

.column { color:pink;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.unsicher { color:pink;
    color: gray;
}

.poem
{ color:pink;
    /* Configure your background, layout, etcetera here */
}

.poem ul
{ color:pink;
    list-style-type: none;
}

.poem li
{ color:pink;
list-style-type: none;
}


