i {
    cursor:pointer;
}

#exploreCorrespSearch svg {
    float: left !important;
    margin-right: 0.4em;
    transform: translate(1px,4.5px);
    color: #4C4C4C;
}



#exploreCorrespSearch a {
    color: #4C4C4C !important;
}

#exploreCorrespSearch {
    color: #4C4C4C;
}

.signed   { 
 text-align: right;
 }
 
dt {
  float: left;
  clear: left;
  margin-right: 5px;
  font-weight: bold;
}

quote{
     font-family: serif;
}

dd {
  margin-left: 0px;
}

.closer {
    
}

.pre-print {
/*border-style: none;
border-bottom-style: solid;
 textcolor: rgba(0,0,0,0.4);
 border-color: #2E86AB;
 border-width: 2px; */
 color:  #2E86AB;
}

.stamp {
/*border-style: none;
border-bottom-style: solid;
border-color: #A23B72;
color: rgba(0,0,0,0.4);*/
color: #A23B72;
}

.p {
    margin: 0 !important;
}

.small_caps {
    font-variant: small-caps;
}


.div {
    padding-bottom: 2rem
}

.address {
    padding-bottom: 1rem;
   width: 50%;
}


.addrLine {
    font-family: serif;
    line-height: 1.5;
}


.antiqua {
    font-variant: small-caps;
}

.gemination {
    text-decoration: none;
}

.illegible {
    color: #bcc2c0;
}

.outOfScope {
    color: #bcc2c0;
}

.del {
    text-decoration: line-through
}

.subst-add {
}

.add {
}

.opener {
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.salute {
    float:left
    display: inline-block;
    margin-top: 10rem;
    margin-bottom: 40rem;
}

.address-div {
margin-bottom: 3rem;
}

.reference {
    cursor: pointer;
    color: #A63437;
}

.seg-right{
    
}

.reference-black {
    cursor: pointer;
    color: black;
    
}

.data-hr {
    /*background-color: #ffff00;*/
}

.card {
    overflow: visible;
}

.unlinked-entity {
    color: #A63437;
}

a {
    color: #A63437;
}


a:not([href]):not([tabindex]) {
    color: #A63437;
    text-decoration: none;
}

a:not([href]):not([tabindex]).reference-black {
    color: inherit;
    text-decoration: none;
}

p.editionText a {
    color: black;
}

.list-for-footnotes {
    color: black;
    font-family: serif;
    list-style-type: none;
}

ol.list-for-footnotes p {
    display: inline;
}

.kommentarhang{ background-color: white;
color: black;}
.card-footer {background-color: white;
                padding-left: 0px;
                padding-right: 0px;
                padding-top: 15px;
                padding-bottom: 25px;}
                
h2 {font-size: 20pt;}
h1 {font-size: 20pt;}
                
.card-header{background: white;}

.navbar {
    padding-left: 0;
    padding-right: 0;
}

.navbar .navbar-brand {
    padding-right: 0;
}

.navbar .navbar-brand img {
    height: 4.5rem;
    max-height: unset;
}

#wrapper-hero-content {
    background-position: top;
    padding: 4rem 0;
}

#wrapper-hero-content::after {
    background-color: rgba(166, 52, 55, 0.1);
}

#wrapper-hero-content>#wrapper-hero-inner>p {
    font-size: 1.25rem;
}

.container-fluid {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0rem;
    padding-top: 0rem;
    background: white;
}

.sticky-navbar {
    z-index: 1001;
}

#nav-link {background: pink}

#srcbuttons {
    margin-bottom:0;
    padding:0.5rem;
}

.rangeslider {
        margin-bottom: 1rem;
}

.btn-link {
        color:#A63437;
        font-size:1.2rem;
    }

#srcbuttons a:hover {
        text-decoration:none;
}

a:hover{
cursor: pointer
    
}

.pagebreak{
    position: relative; bottom: -0.2em;
    font-weight: bold; 
   color:#A63437;
}


.btn-link.quotationbtn {
    color: #A63437;
    padding-top:0;
    text-decoration:none;
    font-size: 1rem;
    line-height: 1.5;
}

.quotationbtn:hover {
    color:black;
}

.btn-outline-success {
    border-color:#A63437;
    color:#A63437;
}

 .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
}

 #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index:999;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
/*        border-top: 16px solid #A63437;
*/        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        }

        /* Safari */
        @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
        }

.containingloader {
    min-height:500px;
}

.table td {
    padding:0.3rem;
}

td li {
    list-style-type:none;
}

td p {
    margin-bottom: 0.2rem;
}

.seg-right{
    float:right;
}

.seg-left{
    float:left;
}

#copyLinkTextfield-wrapper:before {
    position: absolute;
    border-color: transparent;
    border-style: solid;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    content: "";
    border-width: 5px 5px 0 5px;
    border-color: black transparent;
    z-index: 99;
}



#copyLinkTextfield-wrapper {
    position: absolute;
    width:500px;
    left: -200px;
    top: -75px;
    display: none;
}


#res-act-button-copy-url {
    position: relative;
    z-index: 9;
    display:inline-block;
    color: #4C4C4C;
    cursor:pointer;
}

.inline {
    display: inline-block;
  padding-left: 45px;
}

.res-act-button:hover {
    color:black !important;
}

#copyLinkInputBtn {
    position: absolute;
    z-index: 99;
    left: 10px;
    top: 3px;
    color: #A63437;
}

#copyLinkTextfield {
    position: relative;
    width: 100%;
    background-color: #f1f1f1;
    padding: 2px 5px 2px 30px;
    border: 1px solid black;
    border-radius: 5px;
    color: #A63437;
    font-family: sans-serif;
    font-size: 13px;
    text-align: left;
    overflow:hidden;
    resize: none;
}

.strikethrough {
    text-decoration: line-through;
}

.italics {
    font-style: italic;
}

.spaced_out {
 letter-spacing: 5px;   
}

.latintype {
    font-variant:small-caps;
}

.antiqua {
    font-variant:small-caps;
} 


.underline {
    border-bottom: 1px solid #000;
}

.doubleUnderline {
    text-decoration:underline;
    border-bottom: 1px solid #000;
}

.tripleUnderline {
	border-bottom: 3px double;
	line-height: 1.9em;
}

.damage-critical{
  border-style: none;
border-bottom-style: solid;
border-color: #F18F01;
}

.damage{
  border-style: none;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: green;
    border-color: green;
}
.btn-outline-success:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #A63437;
    border-color: #A63437;
}

.superscript { position: relative; top: -0.5em; font-size: 80%; }
.steuerzeichen { position: relative; top: -1em; font-size: 50%; }
.steuerzeichenUnten { position: relative; bottom: -0.4em; font-size: 50%; }

.subscript { position: relative; top: 0.5em; font-size: 80%; }

.editionText { 
    margin: 0 !important;
    line-height: 1.75; 
    font-size: large;
    font-family:serif;
    color:black;
    
}



.wrapper {
  
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.container-width {
    width: 85%;
    padding-left: 20pt;
}

.image-index-one {
    margin-top: 10pt;
    clip: rect(0, 1100px, 200px, 0);
    position: absolute;
    display: block;
}

.create-borders {
    border-top-color: #A63437;
    border-top-width: 5px !important;
    border-top-style: solid;
    margin-top: 20pt;
    margin-bottom: 10pt;
    height: 300px;
}

.floating-boxes {
    float:left;
    width: 50%;
    min-width: 500px;
}

.unsicher {
    color: #4C4C4C;
}

.poem
{
    /* Configure your background, layout, etcetera here */
}

.poem ul
{
    list-style-type: none;
}

.poem li
{
list-style-type: none;
}


